
  .about_back{
    width:100%;
    background-color: #E3E3D1;
    /* animation: fadein 2s; */
  }
  .fadein{
    animation: fadein 2s;
    animation-fill-mode: both;
  }
.yellow{
  position:absolute;
  display:flex;
  z-index:1;
}
.yellow>div{
  background-color: #F7EA49;
}
.yellow1{
  width:30%;
  left: 23%;
  top: 0;
  animation:yellow1 1s;
  animation-fill-mode: both;
  animation-delay:0.4s;
}
.yellow1>div{
  padding-top:114.23%;
  width:100%;
}
@keyframes yellow1{
from {top: -30%}
to {top: 0}
}

.yellow2{
  width:20%;
  left: 10%;
  bottom: 10%;
  animation:yellow2 1s;
  animation-fill-mode: both;
  animation-delay:0.4s;
}
.yellow2>div{
  padding-top:154%;
  width:100%;
}
@keyframes yellow2{
  from {bottom: -20%}
  to {bottom: 10%}
}


.yellow3{
  width:15%;
  right:-10%;
  top:40%;
  animation:yellow3 1s;
  animation-fill-mode: both;
  animation-delay:0.4s;
}
.yellow3>div{
  padding-top:100%;
  width:100%;
}
@keyframes yellow3{
  from {right: -10%;}
  to {right: 25%}
}


.yellow4{
  width:90%;
  left:55%;
  bottom:5%;
  animation:yellow4 1s;
  animation-fill-mode: both;
  animation-delay:0.4s;
}
.yellow4>div{
  padding-top:23.043%;
  width:100%;
}
@keyframes yellow4{
  from {
    left:100%
  }
  to {
    left:55%
  }
}

    .about_poaster{
      width: 1250px;
      height:100vh;
      padding:0 0 0 50px;
      box-sizing: border-box;
    }
    .apoaster_wrap{
        width: 100%;
        height: 100%;
    }
    .poaster1{  
        top:220px;
        right:210px;
    }
    .poaster2{
      top: 500px;
      left: 250px;
    }
   
    .about_poaster h4{
      position:absolute;
      font-size:55px;
      font-weight:400;
      display:flex;
      z-index:500;
      color:#000;
    }
    .black_line{
      width:600px;
      border-top:2px solid #000;
      position:relative;
      height:50px;
    }
    .black_line>span{
      display:inline-block;
      padding:10px 15px;
      background-color:#000;
      color:#fff;
      font-size:20px;
      font-weight:500;
      position:absolute;
      top:-2px;
      left:0
    }
    .black_line>i{
      top:-2px;
      line-height:50px;
      font-size:20px;
      color:#000;
    }
    .front{
      margin:150px 0 200px;
      display:flex;
      justify-content: space-between;
      color:#000;
    }
    .front>div{
      width:calc(50% - 30px);
      height:350px;
    }
    .my_img{
      width:100%;
      height:100%;
      /* background-color:#fff; */
    }
    .my_img>img{
      height:100%;
      width:auto;
    }
    .my_info{
      justify-content: space-between;
      flex-direction: column;
      height:100%;
      padding:30px 0 0 100px;
      box-sizing:border-box; 
      display: flex;
      font-size:20px;
      font-family:'NanumBarunGothic';
      text-align: left;
    }
    .name{
      font-size:26px;
    }
    .edu,.cer,.tool_wrap,.skill_wrap{
      color:#000
    }
    .edu,.tool_wrap{
      margin:100px 0 70px;
      
    }
    .cer,.skill_wrap{
        margin:0 0 70px;
    }
    .sub_title{
      font-size:26px;
      display:inline-block;
      display:flex;
      align-items:center
    }
    .sub_title>span{
      display:inline-block;
      width:7px;
      height:7px;
      border-radius: 50%;
      background-color:#000;
      margin-right:10px;
    }
    table{
      width:90%;
      margin-left: 15px;
      margin-right: 15px;
    }
    td{
      height:50px;
      padding: 20px 5px;
      box-sizing: border-box;
      font-family:'NanumBarunGothic';
    }
    .edu_table td:first-child{
      width:200px;
    }
    .edu_table td:nth-child(2){
      width: calc(100% - 384px);
      text-align: left;

    }
    .art3{
      margin:70px auto 0;
      padding-bottom:90px;
    }
  .cer_date{
    width:200px;
  }
  .cer_name{
    width: calc(100% - 200px);
    text-align: left;
  }
    



    /*****************************/
    .tool_wrap{
        margin:70px 0;
    }
    .tool, .skill{
        display:flex;
        padding:20px;
        box-sizing: border-box;
        flex-wrap:wrap;
    }
    .tool>li, .skill>li{
        margin:0 40px 30px 0;
    }
    .tool img, .skill img{
        width:auto;
        height:45px;  
    }

/******************footer*****************/
.bottom{
    width:100%;
    padding:0 0 30px;
    box-sizing:border-box;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    position:relative;
    color:#000;
}

.bottom>a{
  display:block;
  display:flex;
  z-index:2100;
  color:#000;
  font-weight:bold;
  cursor: pointer;
}
.fish_wrap{
  width:100%;
  margin-bottom:30px;
  text-align: right;
}
.fish{
  width:50px;
  height:50px;
  background-image: url(../img/fish.png);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  animation: fish 10s infinite;
  position:absolute;
  
}
@keyframes fish {
  from { left:0}
  to {left: calc(100% - 100px)}
}




.go_top{
    display:inline-block;
    transform: rotate(90deg);
    font-weight:bold;
    display:flex;
    z-index:2100;
    position:relative;
    display: inline-block;
    cursor: pointer;
    padding:10px;
    
}


@media only screen and (max-width: 1740px) {

table{
  width:90%;
  margin-left: 15px;
  margin-right: 15px;
}
}

      @media only screen and (max-width: 1200px) {
  
    .about_poaster>h4{
           font-size:4.5vw
    }
    /* .poaster1{  
      top:220px;
      right:210px;
    }
    .poaster2{
      top: 500px;
      left: 200px;} */
      .black_line {
        width: 80%;
    }


  
  
  }
    /* }
    .yellow1{
      width: 40%;
    }
      .yellow2{
      width: 30%;
      left: 10%;
      top: 384px;
    }
      .yellow3{
      width: 75%;
      right: 0;
      top: 593px;
    }
      .yellow4{
      width: 5%;
      left: 40%;
      top: 384px;
    } */








        @media only screen and (max-width: 1000px) {
        .poaster1{  
          width:100%;
            top:30vh;
            left:5%;
        }
        .poaster2{
          width:100%;
          top: 70%;
          left: 20%;
        }
    .about_poaster h4{
        font-size:6vw
    }
    .about_poaster{
       width: 100%;
       padding:0;
       box-sizing: border-box;
    }
    /* .poaster1{  
      right:50px;
    }
    .poaster2{  
      left:50px;
    }
  */



    .black_line {
        width: 100%;
    }
    .black_line>span{
      padding:10px 15px;
      font-size:16px;
    }
    .black_line i{
      line-height:50px;
      font-size:16px;
    }
    .front{
        margin:50px 0 100px;
        flex-wrap:wrap;

      }
      .front>div{
        height:250px;
        width:100%;
      }
      .my_info{
        font-size:16px;
        text-align: center;
        padding: 30px 0 0 0;
      }
      .name{
        font-size:16px;
      }

      .tool img, .skill img {
        width: auto;
        height: 30px;
    }
    .edu_table, .cer_table{
      width:calc(100% - 30px);
    }
    .edu_table td:last-child{
        display:none;
      }
      /* .edu_table td:first-child {
        width: auto;
    } */
    .sub_title{
      font-size:20px;
    }
    .yellow1{
      left:20%;
      animation:yellow1_2 1s;
      animation-fill-mode: both;
      animation-delay:0.4s;
      width:32%;
    }
    @keyframes yellow1_2{
    from {top: -30%}
    to {top: 73px}
    }
    .yellow2{
      left:7%;
      width:25%;
    }
    .yellow3{
      width: 22%;
      top:45%;
    }
  
  }

  @media only screen and (max-width: 660px) {
    
    .edu_table td:first-child {
      width:170px;
  }
    .edu_table td:nth-child(3) {
      display:none;
  }
  .cer_table td:first-child {
    width:170px;
}
  }