.contact_back{
    position:relative;
    width:100%;
    background-color: #0F4CE9;
}
.contact_main{
    position:relative;
    width:100%;
    height:100vh;
}
.wave_wrap{
    width:100%;
    display:flex;
    right:0;
    justify-content: flex-end;
}
.wave1{
    width:20%;
    position:absolute;
    animation:wave1 1s;
    animation-fill-mode: both;
}
@keyframes wave1{
    from {right: 0;
        top:55vh;
        }

    to {
        right:30%;
        top:60vh;
 }
}
@keyframes wave1_1{
    from {right: 0;
        top:55vh;
        }

    to {
        right:40%;
        top:70vh;
 }
}
.wave1>div{
    width:100%;
    padding-top:100%;
    background-image: url(/public/img/wave1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}


.wave2{
    width:30%;
    position:absolute;
    animation:wave2 1s;
    animation-fill-mode: both;
    animation-delay: 0.1s;
}
.wave2>div{
    width:100%;
    padding-top:62.8%;
    background-image: url(/public/img/wave2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
@keyframes wave2{
    from {right: -30%;
        top: -10%;
        top:55vh;
        }

    to {
        right:0;
        top:60vh;
 }
}
@keyframes wave2_2{
    from {right: -30%;
        top: -10%;
        top:55vh;
        }

    to {
        right:0;
        top:70vh;
 }
}
.contact_wrap{
    padding: 100px 0 0 50px;
}
.cpoaster_wrap{

    box-sizing: border-box;
}
.cpoaster_wrap{
    width:100%;
}
.cpoaster_wrap>p{
    font-size:90px;
    line-height:1.7;
    color:#F7EA49;
}
.contact_poaster1,.contact_poaster2{
    text-align: left;
}
.contact_poaster3{
    text-align: left;
    padding:0 0 0 50%;
    box-sizing:border-box;
}


.contact_txt>p{
    font-size:60px;
    line-height:3;
    color:#fff;
}
.contact_art1{
    padding-bottom:250px;
}


.contact_txt{
 padding:350px 0;
 text-align: left;   
}
.go_right{
    padding-left:100px;
}
.contact_info{
    text-align: left;
    font-size:20px
}
.contact_info>p{
    color:#fff;
    font-size:30px;

}
.info_lte{
    width:100%;
    display:flex;
    color:#fff;
    flex-wrap:wrap;

}
.info_lte>div{
    width:33.333%;
    margin-bottom:30px;
}
.info_lte a{
    color:#fff;
    cursor: pointer;
}
.info_gr{
    width:100%;
    display:flex;
    flex-wrap:wrap;

}
.lte_title{
    display:block;
    width:100%;
    padding:20px 0;
    font-weight:bold;
    justify-content: center;
}
.info_gr{
    margin: 50px auto 0
}
.gr_r{
    width:90%;
    color:#000;
    display:flex;
    align-items: center;
    justify-content: center;
}
.gr_r>a{
    display:block;
    width:80%;
    padding:30px 0;
    text-align: center;
    color:#000;
    font-weight:bold;
    background-color: #F7EA49;
    font-family:'NanumBarunGothic';
}

.white_fish{
    width:50px;
    height:50px;
    background-image: url(../img/white_fish.png);
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    animation: fish 10s infinite;
    position:absolute;
    
  }
  .contact_bottom{
    color:#fff;
  }
  .contact_bottom a{
    color:#fff;
  }
  .scroll_white>p{
    font-weight:bold;
    color:#fff;
    font-size:12px;
  }
  .scroll_white>a {
    display:block;
    padding-top: 55px;
  
  }
  .scroll_white>a>span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 45px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  .scroll_white>a>span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
  }



  @media only screen and (max-width: 1400px) {
    .contact_txt>p{
        font-size:4vw;
    }
    .go_right{
        padding-left:50px;
    }
    .cpoaster>p{
        font-size:8vw;
        line-height:3;
    }
  }


@media only screen and (max-width: 1200px) {
    .contact_txt>p{
        font-size:3.5vw;
        line-height:3;
        color:#fff;
    }
    .cpoaster_wrap>p {
        font-size: 6.5vw;
    }
.go_right{
    padding-left:20px;
}
.ppoaster_wrap {
    padding: 100px 0 0 0;
}
.pro_poaster2 {
    padding-left:5%;



}


}


@media only screen and (max-width: 1000px) {

    .wave1{
        width:30%;
        animation:wave1_1 1s;
        animation-fill-mode: both;
    }
    .wave2{
        width:40%;
        animation: wave2_2 1s;
        animation-fill-mode: both;
    }

    .cpoaster_wrap{

        padding-left: 50px;
    }
    .cpoaster_wrap>p {
        font-size: 8vw;
    }
    .contact_poaster1, .contact_poaster2{
        text-align: left;
    }

    .contact_poaster3 {
        text-align: right;
        padding: 0 20% 0 0;
}
.contact_wrap{
    font-size: 10vw;
    height: 80%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    box-sizing: border-box;
}
.cpoaster_wrap{
    text-align: center;

}

.contact_txt {

        padding: 100px 0 200px;
        text-align: left;
        text-align: center;
    
}
.contact_art1{
    padding-bottom:100px;
}
.contact_txt>p{
    font-size:5vw;
    padding: 0 0 0 0;
}
   .go_right{
    padding-left:0;
}
.contact_info{
    font-size:16px
}
.info_lte{
    text-align: center;
}
.info_lte>div{
    width:50%;
}
.info_gr{
    justify-content: center;
    }
.gr_g{
    display:none;
}

.info_gr{
margin: 20px auto 0;
}
.gr_r{
    width:90%;
    margin-top:50px;
}
.gr_r>a{
    padding:20px 0;
    font-size:14px;
}




}



