.project_back{
    width:100%;
    position:relative;
    background-color: #AE888D;
}
.fixed{
    position:fixed;
    overflow:hidden;
}
.plzleft{
    text-align: left;
}
.project_wrap{
    font-size:90px;
    color:#000;
    display:inline-block;
    position:relative;

}
.ppoaster_wrap{
    width:100%;
    padding:100px 0 0 50px;
    box-sizing: border-box;
    text-align: left;

}
.pro_poaster2{
    padding-left:200px;
    box-sizing: border-box;
}
.circle{
    position: absolute;
    bottom: -30%;
    right: -30%;
    width: 40%;
    height: auto;
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;


}
.circle>div{
    width:100%;
    background-image:url(../img/hello.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top:100%;
}

 
@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}
.project_art1{
    position:relative;
}
.mockup_wrap{
    display:flex;
    justify-content: center;
    margin-top:20px;
}
.mock_button{
    width:90%;
    height:55px;
    background-color: #fff;
    color:#000;
    border:none;
    font-weight:bold;
    display:flex;
    justify-content: center;
    line-height:55px;
    z-index:2000;
    cursor: pointer;
    border-radius: 5px;
}
.mmock_button{
    display:block;
    background-color: #fff;
    color:#000;
    font-weight:bold;
    display:flex;
    justify-content: center;
    line-height:55px;
    z-index:2000;
    cursor: pointer;
    line-height:40px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 12px;
    border-radius: 5px;
}
.mock_popup{
    width: calc(50% - 20px);
    height: 85vh;
    position:absolute;
    bottom:0;
    right:0;
    display:flex;
    z-index:2100;
    background-color:#f0f0f0;
    flex-wrap: wrap;
    border-radius:5px;
}

.mock_popup>div{
    width:100%;
}






.mock_img{
    overflow-y: scroll;
    width: 100%;
    -ms-overflow-style: none;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    height: calc(100% - 75px);
}

 .mock_img::-webkit-scrollbar{
   display:none;
 }



.mock_img>img{
    width:100%;
}
.mock_title{
    padding: 20px 20px 0;
    box-sizing:border-box;
    text-align: right;
}
.mock_title>p{
    font-size:25px;
    text-align: center;
}
.mock_title>p>span{
    margin-left:10px;
}
.mock_title{
    display: flex;
    justify-content: flex-end;
}
.mock_title>i{
    display: block;
    padding: 5px;
    cursor: pointer;
    background-image: url(../img/close.png);
    width:25px;
    height:25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;

}
.project_line>i{
    position:absolute;
    left:170px;
   }
@media only screen and (max-width: 1400px) {
.circle {
    bottom: -20%;
    right: -10%;
    width: 30%;
}}
@media only screen and (max-width: 1200px) {

.project_wrap{
    font-size:6.5vw;
}

.pro_poaster2{
    padding-left:30px;
    box-sizing: border-box;
}
.circle {
    bottom: -10%;
    right: -40%;
    width: 40%;
}
}


@media only screen and (max-width: 1000px) {
    .ppoaster_wrap {
        padding: 0;
        font-size:8vw;
        line-height:1.8
    }
    .project_wrap{
        font-size:10vw;
        height: 90%;
        display: flex;
        align-items: center;
        padding-left:5%;
        box-sizing: border-box;
    }
    .circle{
        width:30%;
        bottom: 170px;
    right: 5%;
    }
    .mock_popup{
        width: 80%;
        height: 60vh;
        position:absolute;
        bottom:10%;
        right:50%;
        transform: translate(+50%, 0);
    }

    .mock_img{
        overflow-y: scroll;
        width: 100%;
        -ms-overflow-style: none;
        box-sizing: border-box;
        padding: 10px 10px 10px;
        height: calc(100% - 55px);
    }

      .project_title {
        padding: 15px 0;
        line-height: 1.4;
        color: #000;
        margin-bottom: 30px;
    }

       .project_line>i{
        left:140px;
       }
       .mock_title {
        padding: 10px 10px 0;
    }
       .mmock_button{
        line-height:30px;
       }
       .mock_img{

       }
}  